* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: white;
}

li:hover {
    background: #af2d2d;
}

.menu-rp {
    position: absolute;
    width: 0%;
    height: 0%;
    transition: all 0.4s;
    overflow: hidden;
}

.menu {
    background-color: rgb(0, 0, 0);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
    list-style-type: none;
}

.pos-menu {
    display: grid;
    justify-content: end;
}

.btn-menu-rp {
    width: 25px;
    height: auto;
    background: transparent;
    border: none;
    outline: none;
}

.line-btn-menu-rp {
    width: 100%;
    height: 3px;
    float: left;
    background: #000000;
    margin: 2px 0;
    border-radius: 50px;
}